{% extends "app/layout.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-5 col-md-7 col-sm-8">
        <h1 class="display-1 fs-1">Sign up</h1>
              {% if errors %}
              <div class="card border-danger mb-3" id="errors">
              <div class="card-header">Something went wrong.</div>
              <div class="card-body text-danger">
                {% for error in errors %}
                <div class="validation-summary-errors">
                    {{ error }}
                </div>
                {% endfor %}
               </div>
               </div>
               {% endif %}
        <div class="row">
            <div class="col-12">
                <section id="signupForm">
                    <form action="." method="post" class="form-horizontal">
                        {% csrf_token %}
                        <h1 class="display-1 fs-3 text-muted">Create a local account.</h1>
                        <hr />
                        <div class="form-group">
                            <label for="username" class="control-label">User name</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="UserName"
                            value="{{ username|default_if_none:"" }}">
                        </div>
                        <div class="form-group mt-2">
                            <label for="email" class="control-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="abc@email.com"
                            value="{{ email|default_if_none:"" }}">
                        </div>
                        <div class="form-group mt-3">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password"
                            value="{{ password|default_if_none:"" }}">
                        </div>
                        <div class="form-group mt-3">
                            <div class="col-lg-offset-2 col">
                                <input type="hidden" name="next" value="/" />
                                <input type="submit" value="Sign up" class="btn btn-outline-secondary form-control" />
                            </div>
                        </div>
                        {% if request.method != 'GET' and not errors %}
                        <div> You were successfully registered </div>
                        {% endif %}
                    </form>
                </section>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <a class="text-decoration-none" href="{% url 'social:begin' 'google-oauth2' %}">
                        Sign in with Google
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}