{% extends "app/layout.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-5 col-md-7 col-sm-8">
        <h1 class="display-1 fs-1">Sign in</h1>
        <div class="row">
            <div class="col-12">
                <section id="signinForm">
                    <form action="." method="post" class="form-horizontal">
                        {% csrf_token %}
                        <h1 class="display-1 fs-3 text-muted">Create a local account.</h1>
                        <hr />
                        <div class="form-group">
                            <label for="username" class="control-label">User name</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="UserName"
                            value="{{ username|default_if_none:"" }}">
                        </div>
                        <div class="form-group mt-2">
                            <label for="email" class="control-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="abc@email.com"
                            value="{{ email|default_if_none:"" }}">
                        </div>
                        <div class="form-group mt-3">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password"
                            value="{{ password|default_if_none:"" }}">
                        </div>
                        <div class="form-group mt-3">
                            <div class="col-lg-offset-2 col">
                                <input type="hidden" name="next" value="/" />
                                <input type="submit" value="Sign in" class="btn btn-outline-secondary form-control" />
                            </div>
                        </div>
                        {% if errors %}
                        {% for error in errors %}
                        <p class="validation-summary-errors">
                            {{ error }}
                        </p>
                        {% endfor %}
                        {% else %}
                        
                        {% if request.method != 'GET' %}
                        <div> You were successfully registered </div>
                        {% endif %}

                        {% endif %}
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}