<div class="card border-dark mb-3">
    <h5 class="card-header">Password | {{ record.generated_at|date:"G:i jS M Y" }}</h5>
    <div class="card-body text-dark">
    <div class="card-text">
        Generated <mark>{{ record.count }} passwords</mark> with <i>length</i> of {{record.length}}.
    </div>
    <div>
      <details>
        <summary>Results</summary>
        <div class="ps-3">
          {% for password in record.passwords %}
          <div>
            {{password}}
          </div>
          {% endfor %}
          </div>
      </details>
      </div>
    </div>
</div>