<div class="card border-dark mb-3">
    <h5 class="card-header">Random words | {{ record.generated_at }}</h5>
    <div class="card-body text-dark">
    <div class="card-text">
        Generated <mark>{{ record.count }} words</mark> from
        <details>
            <summary>Text</summary>
            <div class="ps-3">
                {{ record.alltext }}
            </div>
        </details>
    </div>
    <div>
        <details>
            <summary>Results</summary>
            <div class="ps-3">
                {% for word in record.values %}
                <div>
                    {{word}}
                </div>
                {% endfor %}
            </div>
        </details>
    </div>
    </div>
</div>