{% extends "app/layout.html" %}

{% block content %}

<h1>app/generators/templates/generators/index.html</h1>

<form action="{% url 'generators:integer' %}" method="post">
	{% csrf_token %}
	<div>
		<input type="number" name="floor" value="{{ random_int_dto.floor|default_if_none:0 }}" />
	</div>
	<div>
		<input type="number" name="ceiling" value="{{ random_int_dto.ceiling|default_if_none:1 }}" />
	</div>
	<div>
		<input type="number" name="count" min="1" value="{{ random_int_dto.count|default_if_none:1 }}" />
	</div>
	<div>
		<input type="submit" value="Generate">
	</div>
</form>

{% if random_int_dto.values %}
{% for value in random_int_dto.values %}
<div>{{ value }}</div>
{% endfor %}
{% else %}
{% endif %}

{% endblock %}