{% extends "app/layout.html" %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-auto">

    <div class="row justify-content-center">
      <div class="col-auto">
        <h1 class="display-6">Generate password</h1>
        {% if errors %}
        {% include "./widgets/form_errors.html" with errors=errors only %}
        {% endif %}
        <form action="{% url 'generators:password' %}" method="post" autocomplete="off" id="password-form">
          {% csrf_token %}
          <div class="mb-3">
            <div class="d-flex justify-content-between">
              <label for="number" class="form-label">Password length</label>
              <div onclick="resetForm(this, 'password-form')" title="Refresh form">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  class="bi bi-arrow-counterclockwise clickable-icon" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                  <path
                    d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                </svg>
              </div>
            </div>
            <input type="number" class="form-control" id="password_length" name="password_length" placeholder="10"
              value="{{ passwords_dto.length|default_if_none:"" }}">
          </div>

          <div class="mb-4">
            <label for="count" class="form-label">Count of passwords to generate:</label>
            <input type="number" class="form-control" id="password_count" name="password_count" placeholder="1"
              value="{{ passwords_dto.count|default_if_none:"" }}" />
          </div>

          <div>
            <input type="submit" value="Generate" class="btn btn-outline-secondary form-control">
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" method="post" id="allow_special_characters"
              name="allow_special_characters" checked>
            <label class="form-check-label" for="allow_special_characters">
              Allow special characters
            </label>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        {% if passwords_dto.passwords %}
        <h1 class="display-6 mt-4">Generated results</h1>
        <div class="d-flex justify-content-end">
          <div title="Copy to clipboard" onclick="copyToClipboardFrom(this, 'password-results', 'div')">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-clipboard clickable-icon" viewBox="0 0 16 16">
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
          </div>
        </div>
        <div class="col text-center" id="password-results">
          {% for value in passwords_dto.passwords %}
          <div>{{ value }}</div>
          {% endfor %}
          {% else %}
          {% endif %}
          {% endblock %}
        </div>

      </div>
    </div>
  </div>
</div>