{% extends "app/layout.html" %}

{% block content %}

{% include "./widgets/stat_common.html" %}

{% if dto.user_stat.user_id%}
     
<!-- get all entries -->
<!-- check if it is any entry -->
{% if dto.random_entry %}
<!-- get random entry -->
<h1>Random Entry</h1>
{% include "./widgets/entry_record.html" with record=dto.random_entry only %}

<!-- get latest 10 entries -->
<div class="row">
    <h1 class="col-3">Latest 10 entries</h1>
    <ul class="col-auto nav navbar-nav"><li><a class="nav-link fs-3 fw-light " href="{% url 'generators:all_entries' %}" >(See all)</a></li></ul>
</div>
{% for record in dto.latest %}
{% include "./widgets/entry_record.html" with record=record only %}
{% endfor %}

{% else %}
<h1 class="row justify-content-center">You have no entries yes</h1>
{% endif %}



{% endif %}

{% endblock %}