{% extends "app/layout.html" %}

{% block content %}

<!-- if user is not anonymous -->
{% if dto.user_stat.user_id%}
    <div class="row justify-content-center">
     {% include "./widgets/site_stat.html" %}
     
     {% include "./widgets/user_stat.html" %}
    </div>


{% for record in dto.latest %}

<h1>Latest 10 entries</h1>
{% for record in dto.latest %}
<!-- get latest 10 entries -->
{% include "./widgets/entry_record.html" with record=record only %}

{% endfor %}

{%else%}
     {% include "./widgets/site_stat.html" %}
{% endif%}

{% endblock %}