{% extends "app/layout.html" %}

{% block content %}

<!-- if user is not anonymous -->
{% if dto.user_stat.user_id%}
    <div class="row justify-content-center">
     {% include "./widgets/site_stat.html" %}
     
     {% include "./widgets/user_stat.html" %}
    </div>


{% for record in dto.latest %}

{% if record.type == "int" %}
{% include "./widgets/int_stat_record.html" with record=record only %}

{% elif record.type == "pwd" %}
<!-- include widget for passwords -->

{% elif record.type == "word" %}
<!-- include widget for text -->
{%else%}
     {% include "./widgets/site_stat.html" %}
{% endif%}

{% endblock %}